<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保险分级头寸表</title>
</head>
<body>

<p>
    以下为<u><b>保险分级</b></u>头寸表
</p>


<div>

    <div style="width: 40%;float: left">
        <table border="1"; width="400px"; style="text-align: center" >

            <tr>
                <th colspan="2">保险分级头寸表</th>
            </tr>

            <tr>
                <td>日期：</td>
                <td>{{ today }}</td>
            </tr>

            <tr>
                <td>银行存款：</td>
                <td>{{ 保险分级银行存款 }}</td>
            </tr>

            <tr>
                <td>证券清算款：</td>
                <td>{{ 保险分级证券清算款 }}</td>
            </tr>
            <tr>
                <td>银行间债券交易：</td>
                <td>{{ 保险分级银行间债券交易 }}</td>
            </tr>
            <tr>
                <td>银行间回购交易：</td>
                <td>{{ 保险分级银行间回购交易 }}</td>
            </tr>
            <tr>
                <td>T日赎回款：</td>
                <td>{{ 保险分级T日赎回款 }}</td>
            </tr>
            <tr>
                <td>T+1日赎回款：</td>
                <td>{{ 保险分级T1日赎回款 }}</td>
            </tr>
            <tr>
                <td>股票红利：</td>
                <td>{{ 保险分级股票红利 }}</td>
            </tr>
            <tr>
                <td>冻结保证金、备付金：</td>
                <td>{{ 保险分级冻结保证金备付金 }}</td>
            </tr>
            <tr>
                <td>冻结信批费：</td>
                <td>{{ 保险分级冻结信批费 }}</td>
            </tr>
            <tr>
                <td>冻结管理费、托管费：</td>
                <td>{{ 保险分级冻结管理费托管费 }}</td>
            </tr>
            <tr>
                <td>冻结预估网下申购款</td>
                <td>{{ 保险分级冻结预估网下申购款 }}</td>
            </tr>
            <tr>
                <td>T日头寸：</td>
                <td>{{ 保险分级T日头寸 }}</td>
            </tr>
            <tr>
                <td>交易所回购到期：</td>
                <td>{{ 保险分级交易所回购到期 }}</td>
            </tr>
            <tr>
                <td>银行间回购到期：</td>
                <td>{{ 保险分级银行间回购到期 }}</td>
            </tr>
            <tr>
                <td>T日申购款：</td>
                <td>{{ 保险分级T日申购款 }}</td>
            </tr>
            <tr>
                <td>T+1日头寸：</td>
                <td>{{ 保险分级T1日头寸 }}</td>
            </tr>
        </table>
    </div>
    <div>
        <table border="1"; width="400px"; style="text-align: center" >
            <tr>
                <td>{{ today }}</td>
                <td>日终，涉及5%的</td>
            </tr>
            <tr>
                <td>T日活期存款倒算</td>
                <td>T日活期存款正算</td>
            </tr>
            <tr>
                <td>{{ 保险分级T日活期存款倒算 }}</td>
                <td>{{ 保险分级T日活期存款正算 }}</td>
            </tr>
            <tr>
                <td>{{ today }}%</td>
                <td>日终，涉及5%的</td>
            </tr>
            <tr>
                <td>T+1日活期存款倒算</td>
                <td>T+1日活期存款正算</td>
            </tr>
            <tr>
                <td>{{ 保险分级T1日活期存款倒算 }}</td>
                <td>{{ 保险分级T1日活期存款正算 }}</td>
            </tr>

        </table>
        <p>
            <br>
            <br>
        </p>
        <table border="1"; width="400px"; style="text-align: center" >
            <tr>
                <td>基金净值</td>
                <td>{{ 保险分级基金净值 }}</td>
            </tr>
            <tr>
                <td>活期存款保证</td>
                <td>{{ 保险分级活期存款保证 }}%</td>
            </tr>
            <tr>
                <td>至少留活期存款</td>
                <td>{{ 保险分级至少留活期存款 }}</td>
            </tr>
            <tr>
                <td>{{ T1 }}日日终活期存款估计</td>
                <td>{{ 保险分级日日终活期存款估计 }}</td>
            </tr>
            <tr>
                <td>需要卖出(“+”为卖出）</td>
                <td>{{ 保险分级需要卖出 }}</td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>